<!DOCTYPE html>
<html>
    <head <%if(data.venue){%>prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# business: http://ogp.me/ns/business#"<%}%>>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">

        <title><%=data.title||'Jound'%></title>
        <% if(ENV!=='production'){ %>
        <meta name="robots" content="noindex">
        <% } %>
        <base href="/">
        <% if(data.canonical){ %>
            <% if(data.search){ %>
            <link rel="canonical" href="<%= data.canonical %>?<%= data.search %>" />
            <% } else { %>
            <link rel="canonical" href="<%= data.canonical %>" />
            <% } %>
        <% } %>
        <meta property="fb:app_id" content="<%=FACEBOOK_ID%>" />
        <meta name="description" content="<%=data.description || 'Descarga Jound, te va a encantar'%>">
        <% if(data.schemeArguments){ %>
        <meta name="apple-itunes-app" content="app-id=962045697, app-argument=jound://venues<%=data.schemeArguments%>"/>
        <meta property="al:ios:url" content="jound://venues<%=data.schemeArguments%>" />
        <meta property="al:android:url" content="jound://venues<%=data.schemeArguments%>" />
        <% } else { %>
        <meta name="apple-itunes-app" content="app-id=962045697, app-argument=jound://venues"/>
        <meta property="al:ios:url" content="jound://venues" />
        <meta property="al:android:url" content="jound://venues" />
        <% } %>
        <meta property="al:ios:url" content="jound://venues" />
        <meta property="al:ios:app_store_id" content="962045697" />
        <meta property="al:ios:app_name" content="Jound" />
        <meta property="al:android:app_name" content="Jound" />
        <meta property="al:android:package" content="mx.jound.app" />
        <meta property="al:web:url" content="http://www.jound.mx" />

        <meta property="og:title" content="<%= data.title %>" id="ogtitle"/>
        <meta property="og:image" content="<%= data.image %>" id="ogimage" />
        <meta property="og:url" content="<%= data.url %>" id="ogurl" />
        <meta property="og:site_name" content="Jound"/>
        <meta property="og:description" content="<%=data.description || 'Descarga Jound, te va a encantar'%>"/>

        <% if(data.venue) { %>
        <meta property="og:type"                              content="business.business" />
        <meta property="business:contact_data:street_address" content="<%=data.venue.getAddress()%>" />
        <meta property="business:contact_data:locality"       content="<%=data.venue.getCityName()%>" />
        <meta property="business:contact_data:postal_code"    content="<%=data.venue.get('postal_code')%>" />
        <meta property="business:contact_data:country_name"   content="Mexico" />
        <meta property="place:location:latitude"              content="<%=data.venue.get('position').latitude%>" />
        <meta property="place:location:longitude"             content="<%=data.venue.get('position').longitude%>" />
        <% } else { %>
        <meta property="og:type" content="website" />
        <% } %>

        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="@joundmx">
        <meta name="twitter:creator" content="@joundmx">
        <meta name="twitter:title" content="<%=data.title%>">
        <meta name="twitter:description" content="<%=data.description%>">
        <meta name="twitter:image" content="<%=data.image%>">

        <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">

        <% include ../commons/new_relic %>

        <link href="/css/ionic.app.min.css" rel="stylesheet">
        <link href="/css/style.css" rel="stylesheet">
        <link href="/lib/ionic-rating/ionic-rating.css" rel="stylesheet">
        <link href="/lib/ng-img-crop/compile/minified/ng-img-crop.css" rel="stylesheet">
        <link href="/lib/sweetalert/dist/sweetalert.css" rel="stylesheet">
        <link href="/lib/angular-toastr/dist/angular-toastr.css" rel="stylesheet"/>
        <link href="/css/swiper.min.css" rel="stylesheet">

        <%-stylesheets%>

        <script>
        window.FACEBOOK_ID = "<%=FACEBOOK_ID%>";
        window.API_URL = "<%=API_URL%>";
        window.HOST_URL = "<%=HOST_URL%>";
        window.PARSE_APP_ID = "<%=PARSE_APP_ID%>";
        window.PARSE_JS_KEY = "<%=PARSE_JS_KEY%>";
        window.LAYOUT = "<%=LAYOUT%>";
        </script>

        <script src="/lib/jquery/dist/jquery.min.js"></script>
    </head>
    <body ng-app="jound">
        <%- body%>
        <script src="/js/underscore.strings.min.js"></script>
        <script src="/js/parse-1.5.0.min.js"></script>
        <script src="/js/Crypto.MD5.min.js"></script>
        <script src="/js/swiper.min.js"></script>

        <!-- ionic/angularjs js -->
        <script src="/lib/ionic/js/ionic.bundle.js"></script>
        <script src="/lib/ionic-rating/ionic-rating.min.js"></script>
        <script src="/lib/ng-img-crop/compile/minified/ng-img-crop.js"></script>
        <script src='/lib/angular-simple-logger/dist/angular-simple-logger.min.js'></script>
        <script src='/lib/angular-google-maps/dist/angular-google-maps.min.js'></script>
        <script src="/lib/sweetalert/dist/sweetalert.min.js"></script>
        <script src="/lib/angular-toastr/dist/angular-toastr.min.js"></script>
        <script src="/lib/angular-toastr/dist/angular-toastr.tpls.min.js"></script>
        <script src="/lib/angular-facebook/lib/angular-facebook.js"></script>
        <script src="/lib/angular-socialshare/dist/angular-socialshare.min.js"></script>
        <script src="/lib/angularjs-geolocation/dist/angularjs-geolocation.min.js"></script>
        <script src="/lib/ng-lodash/build/ng-lodash.min.js"></script>

        <!-- your app's js -->
        <script src="/js/app.js"></script>

        <script src="/lib/ngCordova/dist/ng-cordova.js"></script>
        <script src="/js/ngIOS9UIWebViewPatch.js"></script>

        <script src="/js/services/analytics.js"></script>
        <script src="/js/services/categories.js"></script>
        <script src="/js/services/sanitize.js"></script>
        <script src="/js/services/venues.js"></script>
        <script src="/js/services/route.js"></script>
        <script src="/js/services/links.js"></script>
        <script src="/js/services/share.js"></script>
        <script src="/js/services/administrativeAreas.js"></script>

        <script src="/js/directives/directives.js"></script>
        <script src="/js/controllers/LoginCtrl.js"></script>
        <script src="/js/controllers/HomeCtrl.js"></script>
        <script src="/js/controllers/VenueCtrl.js"></script>
        <script src="/js/controllers/MenuCtrl.js"></script>
    </body>
</html>
