<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%=data.title||'Jound'%></title>
    <meta name="description" content="Jound te ofrece buscar y comparar entre miles de establecimientos">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta property="og:title" content="<%= data.title %>" id="ogtitle"/>
    <meta property="og:image" content="<%= data.image %>" id="ogimage" />
    <meta property="og:url" content="<%= data.url %>" id="ogurl" />
    <meta property="og:site_name" content="Jound"/>
    <meta property="og:description" content="Jound te ofrece buscar y comparar entre miles de establecimientos"/>
    <meta property="fb:app_id" content="688997761197114" />
    <meta property="og:type" content="website" />
    <!-- stylesheets -->
    <link rel="stylesheet" href="/semantic/semantic.min.css">
    <link rel="stylesheet" href="/stylesheets/semantic.css">
    <%-stylesheets%>
    <!-- Core scripts -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    <script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="/semantic/semantic.min.js"></script>
    <script type="text/javascript" async defer src="https://apis.google.com/js/platform.js?publisherid=113374668891538311072"></script>
  </head>
  <body>
    <% include ../partials/menu %>
    
    <%-blocks.header%>
    <%-blocks.left%>
    <%-body -%>
    <%-block.right%>
    <%-blocks.footer%>

    <% include ../partials/footer %>
    <% include ../partials/commons %>
    
    <script>
        (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
        function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        e.src='//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
        ga('create','UA-59002549-1');ga('send','pageview');
    </script>
    <script src="/components/fastclick/fastclick.js"></script>
    <%-scripts%>
  </body>
</html>