<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%=data.title||'Jound Manager'%></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!-- stylesheets -->
    <link rel="stylesheet" href="/components/semantic/semantic.min.css">
    <link rel="stylesheet" href="/stylesheets/base.css">
    <%-stylesheets%>
    <!-- Core scripts -->
    <script src="/components/modernizr/modernizr.js"></script>
    <script src="/components/jquery/dist/jquery.min.js"></script>
    <script src="/components/semantic/semantic.min.js"></script>
    <%-scripts%>
  </head>
  <body>
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <%-blocks.header%>
    <%-blocks.left%>
    <%-body -%>
    <%-block.right%>
    <%-blocks.footer%>
  </body>
</html>